<div class="container">
  <mat-card *ngIf="user$ | async" class="profile-edit">
    <mat-card-title>Edit your profile</mat-card-title>
    <mat-card-subtitle>{{ user.firstname }} {{ user.lastname }}</mat-card-subtitle>
    <mat-card-content>
      <mat-form-field class="full-width"><input [(ngModel)]="user.email" name="email" matInput placeholder="email">
      </mat-form-field>
      <mat-form-field class="full-width"><input [(ngModel)]="user.firstname" name="firstname" matInput
          placeholder="firstname"></mat-form-field>
      <mat-form-field class="full-width"><input [(ngModel)]="user.lastname" name="lastname" matInput
          placeholder="lastname"></mat-form-field>

      <app-assigned-users-form-field [(assignedUsers)]="user.assignedUsers">
      </app-assigned-users-form-field>

    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button (click)="ngOnDeinit(); ngOnInit();">RESET</button>
      <button mat-button (click)="saveUser()">SAVE</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container">
  <mat-card *ngIf="user$ | async" class="profile-edit">
    <mat-card-title>Your Incentive Information</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width"><input [(ngModel)]="user.receivedCredits" name="receivedCredits" matInput
          placeholder="receivedCredits"></mat-form-field>
      <mat-form-field class="full-width"><input [(ngModel)]="user.creditsToPlace" name="creditsToPlace" matInput
          placeholder="creditsToPlace"></mat-form-field>
    </mat-card-content>
  </mat-card>
</div>