.container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .profile-edit {
        width: 60%;
        min-width: 400px;

        .full-width {
            width: 100%;
        }
    }
}