<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>card_giftcard</mat-icon>
    
      <a *ngIf="isLoggedIn()" mat-stroked-button class="button" routerLink="/profile">my profile</a>
      <a *ngIf="isLoggedIn()" mat-stroked-button class="button" routerLink="/transactions">transactions</a>
      <a *ngIf="isLoggedIn() && (isAdministrator$ | async)" mat-stroked-button class="button" routerLink="/user-management">user management</a>
  
      <span class="spacer"></span>
  
      <a *ngIf="isLoggedIn()" mat-stroked-button class="button" (click)="logout()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>